<form method="post" action="/">
  <label for="paragraphs">Paragraphs</label>
  <input type="text" name="paragraphs" id="paragraphs">
  <label for="sentences">Sentences</label>
  <input type="text" name="sentences" id="sentences">
  <label for="pages">Pages</label>
  <input type="text" name="pages" id="pages">
  <input type="submit">
</form>